 .outer{
   margin: 50px;
 }
 .flex-container{
   display: flex;
   align-content: center;
 }

 .card{
   display: flex;
   flex:33.33%;
   width: 60%;
   align-self: center;
   float: left;
 }

 .avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card .card-img-top{
  display: flex;
  flex: 50%;
  width: 50%;
 
}

.card .card-body{
  flex: 100%;
  width: 100%;
  height: 2000px;
  margin: 155px;
}

.card .add-cart-btn {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #4CAF50;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  height: 50px;
}

.card .add-cart-btn:hover {
  background-color: #46a049;
}

.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
