
.form-control.ng-touched.ng-invalid{
    border: 2px solid red;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  flex-direction: row;
  justify-content: center;
}

.product-list {
   margin: 100px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   flex:80%;
   max-width: 80%;
   align-content: center;
   align-items: center;
   align-self: stretch;
}

.product-list .card {
  width: 25%;
  flex:25%;
  align-self: stretch;
  flex-wrap: wrap;
  padding: 40px;  
  flex-grow:0;
}

.card .product-image {

	align-self: stretch;

}

.card .product-image img {
     
    width: 100%;
    flex:100%;
    height: 300px;
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.card .product-info {
    text-align: center;  
}

.card .product-info .title {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.card .product-info .author {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.card .product-info .des {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.card .add-cart-btn {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    height: 50px;
}

.card .add-cart-btn:hover {
    background-color: #46a049;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .product-list .card {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .product-list .card{
    flex: 100%;
    max-width: 100%;
  }
}



 



